@import "tailwindcss";

body{
    color: white;
}

h1{
    font-size: 90px;
    position: absolute;
    top:45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-decoration: underline;
    font-weight: 200;
    white-space: nowrap;
    text-transform: capitalize;
    color: gold;
}